# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.egg-info/

# Environment files
.env
.env.*
*.env.*

# Virtualenv
venv/
.venv/
env/
ENV/

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose*

# IDEs
.vscode/
.idea/
*.iml
